.header {
  background-color: var(--global-violet);
  width: 100vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 35px 130px;
  align-items: center;
}

.menuList {
  display: flex;
  flex-direction: row;
  gap: 40px;
}