.heroSection {
  background-color: var(--global-violet);
  color: #fff;
}

.heroSection::after {
  content: 'Goods4you';
  opacity: 12%;
}

.title {
  color: #fff;
  font-weight: 400;
  font-size: var(--font-size-3xl);
}

.subtitle {
  color: #fff;
  font-weight: 600;
  font-size: var(--font-size-m);
}